<div class="low">
  <div class="col">
    <h1>Shopping Cart</h1>
  </div>
 </div>
 <% if @cart.any? %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total</th>
        <th scope="col">Remove</th>
      </tr>
    </thead>
    <tbody>
      <% @cart.each do |cart_item| %>
        <tr>
          <td><%= cart_item.item.name %></td>
          <td><%= cart_item.item.price %></td>
          <td><%= cart_item.quantity %></td>
          <td><%= cart_item.quantity * cart_item.item.price %></td>
          <td><%= button_to "Remove", cart_path(cart_item.id), method: :delete %></td>
          
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3"><strong>Total:</strong></td>
        <td><%= @cart.sum { |cart_item| cart_item.quantity * cart_item.item.price } %></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
<% else %>
  <p>Your shopping cart is empty.</p>
<% end %>

<p><%= link_to "Continue Shopping", items_path %></p>
<%= button_to("confirm","#", {class: "btn btn-primary stretched-link"}) %>