<div class="low">
  <div class="col">
    <h1>Your favorite items</h1>
  </div>
 </div>
 <% if @cart.any? %>
  <section class="h-100 gradient-custom">
    <div class="container py-5">
      <div class="row d-flex justify-content-center my-4">
        <div class="col-md-8">
          <div class="card mb-4">
            <div class="card-header py-3">
              <h5 class="mb-0">Cart - <%=@cart.count%> items</h5>
            </div>
            <div class="card-body">
            <% @cart.each do |cart_item| %>
              <!-- Single item -->
              <div class="row">
                <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                  <!-- Image -->
                  <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                    <%= image_tag cart_item.item.images.first.variant(resize_to_fill: [2000,2000]).processed,class:"w-100" %>
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                    </a>
                  </div>
                  <!-- Image -->
                </div>

                <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                  <!-- Data -->
                  <p><strong><%= cart_item.item.name %></strong></p>
                  <p>sex:<%=cart_item.item.category.name %> </p>
                    <%= button_to cart_path(cart_item.id),class:"btn btn-primary btn-sm me-1 mb-2", method: :delete do %>
                    <i class="fas fa-trash"></i>remove
                    <% end %>
                  <!-- Data -->
                </div>

                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                  
                  <!-- Price -->
                  <p class="text-start text-md-center">
                    <strong>$<%= cart_item.item.price*cart_item.quantity %></strong>
                  </p>
                  <!-- Price -->
                </div>
              </div>
              <!-- Single item -->
              <hr class="my-4" />
            <% end %> 

            </div>
          </div>
        </div>
      <% cart_item=@cart %>
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-header py-3">
              <h5 class="mb-0">Summary</h5>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush"> 
                <li
                  class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                  <div>
                    <strong>Total price</strong>
                  </div>
                  <span><strong>$<%= @cart.sum { |cart_item| cart_item.quantity * cart_item.item.price } %></strong></span>
                </li>
              </ul>
                <%= button_to "Continue Shopping", items_path, class:"btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


<% else %>
  <p>Your favorite item is enpty</p>
<% end %>


