
<div class="col-12">
      <% if @item.reserved? %>
        <%= button_to 'Sold Out', soldout_admins_item_path(@item), method: :patch, class: 'btn btn-primary' %>
      <% elsif @item.sold? %>
        <%= button_to 'fix to unreserved', fix_admins_item_path(@item), method: :patch, class: 'btn btn-primary' %>
      <% end %>
</div>
<%= form_with model:@item,url:admins_item_path do |f|%>
 <%= render 'shared/error_messages' %>
 <form>
 <div class="row g-3">
  <div class="col-md-6">
     <%= f.label :name,class:"form-label"%>
     <%= f.text_field :name, class: "form-control",placeholder: "Enter item name"%>
  </div>
  <div class="col-md-6">
     <%= f.label :price,class:"form-label"%>
     <%= f.number_field :price , class: "form-control",placeholder: "Enter item price"%>
  </div>
</div>
<div class="row g-3">
  <div class="col-12">
    <%= f.label :description,class:"form-label" %>
    <%= f.text_field :description, class: "form-control",placeholder: "Enter item description",rows:"3" %>
  </div>
  <div class="col-12">
    <%= f.label :category %>
    <%= f.select :category_id, [["boys", 1], ["girls", 2]], include_blank: "select" ,class:"form-control form-select dropdown" %>
  </div>
  <div class="row g-3">
    <div class="col-12">
      <% if @item.images.present? %>
        <div class="edit-preview-images row">
          <% @item.images.each do |image| %>
            <div class="image-block col-4 col-md-6 col-lg-4 px-0">
                <%= image_tag image, class: "w-100 img-fluid" %>
                <%= link_to 'delete' ,delete_image_admins_item_path(image_id: image.id), method: :delete, class: 'btn btn-danger'%>
            </div>
          <% end %>
        </div>
        <%= f.label :images,"Item Images", class:"form-label" %>
      <div id="image-box-1">
        <div class="item-num-0" id="image-box_container">
          <%= f.fields_for :images do |i| %>
            <div class="preview-image-box">
                <div class="d-flex row" id="preview-image-box">
                  <label class="w-50" for="img-file">
                    <i class="fa fa-plus-circle add-image-icon justify-content-center d-flex h3" aria-hidden="true"></i>
                  </label>
                </div>
                <%= f.file_field :images,multiple: true, id: "img-file",style: "display: none;" %>
                  <div class="preview-image w-50" id="image-preview-container" style: "display: none;"></div>    
              </div>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="col-12">
    <%= f.label :tags, "Item Tags", class:"form-label" %>
    <div class="row">
      <% Tag.all.each do |tag| %>
        <div class="col-3">
          <%= check_box_tag "item[tag_ids][]", tag.id, @item.tags.include?(tag), id: "item_tag_ids_#{tag.id}" %>
          <%= label_tag "item_tag_ids_#{tag.id}", tag.name %>
        </div>
      <% end %>
    </div>
  </div> 
</div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">item add</button>
  </div>
</form>
<% end %>
<%= button_to admins_item_path(@item.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger', form: { class: 'd-inline' } do %>
  Delete
<% end %>

<script>
$(function(){
  var dataBox = new DataTransfer();
  var file_field = document.querySelector('input[type=file]')
  $('#img-file').change(function(){
    var files = $('input[type="file"]').prop('files')[0];
    $.each(this.files, function(i, file){
      var fileReader = new FileReader();
      dataBox.items.add(file)
      file_field.files = dataBox.files

      var num = $('.item-image').length + 1 + i
      fileReader.readAsDataURL(file);
      if (num == 10){
        $('#image-box_container').css('display', 'none')   
      }
      fileReader.onloadend = function() {
        var src = fileReader.result
        var html= `<div class='image-block item-image col-4 col-md-6 col-lg-4 px-0' data-image="${file.name}">
                    <div class='item-image_content'>
                      <div class='item-image_content-icon'>
                        <img src=${src} class="w-100">
                      </div>
                    </div>
                    <div class='item-image_operetion'>
                      <div class='btn btn-danger item-image_operetion-delete'>削除</div>
                    </div>
                  </div>`
        $('#preview-image-box').prepend(html);
      };
      $('#image-box_container').attr('class', `item-num-${num}`)
    });
  });
  $(document).on("click", '.item-image_operetion-delete', function(){
    var target_image = $(this).closest('.item-image');
    target_image.remove();
    file_field.val("");
  });
});
</script>