<div class="row pt-2 pb-2">
  <% item=@category_item.first %>
  <div class="col Item-title">
    <h1><%= item.category.name %></h1>
  </div> 
</div>
<div class="row row-cols-1 row-cols-md-3 g-4 pt-3"> 
  <% @category_item.each do|item| %>
    <div class="col-4 col-md-6 col-lg-4">
      <div class="card h-100"> 
        <%= image_tag item.images.first,class:"card-img-top" %>
        <div class="card-body">
          <h5 class="card-title"><%=item.name%></h5>
          <div class="product-price-index pb-2 text-success"><span><%=item.price%>$</span></div>  
          <%= link_to("Buy It", item_path(item), {class: "btn btn-primary stretched-link"}) %>
        </div>
      </div>
    </div>
  <% end %>
</div> 

